@import 'mixins';
@import 'template';
@import 'variables';

.loader-button {
  @extend %base-button;
  position: relative;

  &--loading {
    &::after {
      content: '';
      position: absolute;
      display: flex;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: dual-ring 1.1s linear infinite;
    }
  }

  &__text {
    &--loading {
      opacity: 0;
    }
  }
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
